/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 75px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

.form-horizontal .control-label {
	text-align: left;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.site-caption {
	font-weight: bold;
	font-size: x-large;
}

.lang-eng {
	width: 28px;
	height: 19px;
	background: url("../img/Flag_UK.png");
	text-indent: -9999px;
	display: inline-block;
}

.lang-de {
	width: 28px;
	height: 19px;
	background: url("../img/Flag_Germany.png");
	text-indent: -9999px;
	display: inline-block;
}

.text-important {
	font-weight: bold;
}

.align-right {
	float: right;
}

.cursor-hand {
	cursor: pointer;
}

textarea {
	max-width: 700px;
}